<!DOCTYPE html>
<html>
<head>
  <title>Aplicación con estilos CSS</title>
  <link rel="stylesheet" type="text/css" href="/stylesejs.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
  <h1>Bienvenido a la aplicación con estilos CSS</h1>
  
  <% if (mensaje) { %>
    <p class="mensaje"><%= mensaje %></p> <!-- Uso de estilos CSS en la salida -->
  <% } %>

  <!-- Resto de tu contenido HTML -->
</body>
</html>
